.pull-right {
    float: right;
    cursor: pointer;
}

.align-center {
    text-align: center;
}

.add-top {
    top:30px;
}

.row-item {
    cursor: pointer;
}

.row-item:hover {
    background-color: #80deea !important;
}

.center-spinner-horizontally {
    left: calc(50% - 45px)
}